node_modules/
dist/
dist-ssr/
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backups and Zips
*.zip
DineEvent_v*/
"DineEvent_v*"/
*ULTIMATE*
*FINAL*
favicon.svg
icons.svg
.env
.env.*

# Local Netlify folder
.netlify
